body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://picsum.photos/3000/2000/?image=1015);
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (min-width:850px) {
	.main-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "image-box text-box";
	}
}

table {
	width: 100%;
	text-align: center;
}

tr {
	border: 1px solid white;
}

th, td {
	padding: 10px;
}