<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->

    <title>Home Page</title>
</head>

<body>
<div class="container-fluid text-center">
    <h3 th:inline="text">Hey, [[${#httpServletRequest.remoteUser}]]!</h3>
    <h1>Welcome to your administrator's panel</h1>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-primary m-2">Logout</button>
    </form>

    <div class ="btn-group-justified btn-group-sm btn-group-vertical">
        <a href="/commissions" class="btn btn-success">Commissions List</a>
        <a href="/clients" class="btn btn-success">Clients List</a>
    </div>

</div>


</body>
</html>