<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <title>Home Page</title>
</head>

<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>


    <div class="hero-container">

        <div sec:authorize="isAuthenticated()">
            <div class="hero-text">
                <h1 class="card-title" th:inline="text">Hey, [[${#httpServletRequest.remoteUser}]]!</h1>

                <p class="card-text" sec:authorize="hasRole('USER')">
                    Welcome to User's Panel. You can display your commissions and clients lists.
                </p>
                <p class="card-text" sec:authorize="hasRole('ADMIN')">
                    Welcome to your administrator's panel. You can display and edit your commissions and clients lists.
                </p>

                <div class="row no-gutters">
                    <div class="col-md-6 form-group pr-md-1">
                        <button class="button button1"><a class="a a1" href="/commissions">Commissions List</a></button>
                    </div>
                    <div class="col-md-6 form-group pr-md-1">
                        <button class="button button1"><a class="a a1" href="/clients">Clients List</a></button>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="!${#request.userPrincipal}">
            <div class="hero-text">
                <h1 class="card-title" th:inline="text">Welcome to Admin-Paint Application!</h1>
                <p class="card-text">Log in to browse or administer your clients and commissions.</p>
                <form th:action="@{/login}" method="post">
                    <button type="submit" class="btn btn-primary m-2">Log in</button>
                </form>
            </div>
        </div>



    </div>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>