<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Access Denied</title>
</head>
<body>
<div class="hero-container">
<div th:if="!${#request.userPrincipal}">
    <div class="hero-text">
        <h1 class="card-title" th:inline="text">Bad credentials!</h1>
        <p class="card-text">Please try again.</p>
        <form th:action="@{/login}" method="post">
            <button type="submit" class="btn btn-primary m-2">Back to login page</button>
        </form>
    </div>
</div>
</div>
</body>
</html>